<% include layh.ejs%>
<% if(errors) for (var i = 0; i < errors.length; i++) { %>
  <div class="alert alert-danger"><%=errors[i].msg%></div>
  <% } %>
<h1><%=title%></h1>
<form method="post" action="/articles/add">
<div id="form-group">
  <label>Title :</label>
  <input class="form-control" name='title' type="text"></input>
</div>
<div id="form-group">
  <label>Body :</label>
  <textarea class="form-control" name='body'></textarea>
</div>
<br>
<input class="btn btn-primary" type="submit" value="submit"></input>

</form>
<% include layf.ejs%>
