<br>
<hr>
<footer><p>Copyright &copy:2019</p></footer>
</script>
</div>
</div>
</body>
<html>
<script src='\bower_components\jquery\dist\jquery.js'></script>
<script src='\bower_components\bootstrap\dist\js\bootstrap.js'></script>
<script src='\js\main.js'></script>
