<% include layh.ejs%>
<% if(errors) for (var i = 0; i < errors.length; i++) { %>
  <div class="alert alert-danger"><%=errors[i].msg%></div>
  <% } %>
<h1>Register</h1>
<form method="post" action="/users/register">
<div id="form-group">
  <label>name :</label>
  <input class="form-control" name='name' type="text"></input>
</div>
<div id="form-group">
  <label>email :</label>
  <input class="form-control" name='email' type="email"></input>
</div>
<div id="form-group">
  <label>username :</label>
  <input class="form-control" name='username' type="text"></input>
</div>
<div id="form-group">
  <label>password :</label>
  <input class="form-control" name='password' type="password"></input>
</div>
<div id="form-group">
  <label>confirm password :</label>
  <input class="form-control" name='password2' type="password"></input>
</div>
<br>
<input class="btn btn-primary" type="submit" value="sign up"></input>

</form>
<% include layf.ejs%>
